@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
	--black: rgba(25, 28, 39, 100);
	--green: #7daf71;
	--darkgreen: #667b68;
	--blue: #80a2a6;
    --darkblue: #346d7e;
	--white: #f2f2f2;
}

header {
	background-color:var(--green);
    padding: 5px;
}

header nav a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

header nav a img {
	width: 5vw;
    padding: 0 2vw;
} 

header nav a h1 {
    font-size: 20px;
    color: var(--white);
    display: inline-block;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
	list-style-type: none;
	display: flex;
    font-size: 20px;
}

nav ul li {
    padding: 0 2vw;
}

nav ul li a {
	text-decoration: none;
    color: var(--white);
}

nav li a:hover {border-bottom: solid 1px var(--white);}

main {
    margin: 0 10%;
}

main h1 {
    color: var(--darkgreen);
    text-align: center;
    font-size: 50px;
    padding: 15px;
    margin: 0 10%;
}

main section {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: center;
}

main section a {
    text-decoration: none;
    color: var(--white);
    background-color: var(--darkblue);
    width: 23%;
    margin: 10px;
}

main section a h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

main section a h3 {
    text-align: center;
    font-size: 16px;
}

main section a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.katImg {
    width: 25vw;
}

footer {
    background-color: var(--darkgreen);
    color: var(--white);
    font-size: 16px;
    text-align: center;
    padding: 20px;
}