@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Josefin Sans', sans-serif;
}

:root {
	--black: rgba(25, 28, 39, 100);
	--green: #7daf71;
	--darkgreen: #667b68;
	--blue: #80a2a6;
    --darkblue: #346d7e;
	--white: #f2f2f2;
}

header {
	background-color:var(--green);
    padding: 5px;
}

header nav a img {
    display: inline-block;
	width: 7.5vw;
    padding: 0 2vw;
} 

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
	list-style-type: none;
	display: flex;
    font-size: 25px;
}

nav ul li a {
	text-decoration: none;
    color: var(--white);
    padding: 0 2vw;
}

nav li a:hover {border-bottom: solid 1px var(--white);}

main {
    margin: 0 200px;
}

main h1 {
    color: var(--darkgreen);
    text-align: center;
    padding: 15px;
}

main section {
    display: flex;
    flex-wrap: wrap;
}

main section img {
    width: 15vw;
}

main section a {
    margin: 10px;
    padding: 70px;
    color: var(--white);
    background-color: var(--darkblue);
}

.katImg {
    width: 25vw;
}

footer {
    background-color: var(--darkgreen);
    color: var(--white);
    font-size: 20px;
    text-align: center;
    padding: 20px;
}