@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html {
    background-image: url("../images/Baggrund.png");
    background-size: cover;
    background-attachment: fixed;
    color: var(--grey);
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.7;
    font-family: 'Josefin Sans', sans-serif;
    hyphens: auto;
}

:root {
	--black: rgba(25, 28, 39, 100);
	--green: #7daf71;
	--darkgreen: #667b68;
	--blue: #80a2a6;
    --darkblue: #346d7e;
	--white: #f2f2f2;
    --grey: #707070;
}

.green          {background-color: var(--green);}
.darkgreen      {background-color: var(--darkgreen);}
.blue           {background-color: var(--blue);}
.darkblue       {background-color: var(--darkblue);}
.white          {background-color: var(--white);}
.greenText      {color: var(--green);}
.darkgreenText  {color: var(--darkgreen);}
.blueText       {color: var(--blue);}
.darkblueText   {color: var(--darkblue);}
.whiteText      {color: var(--white);}
.greyText       {color: var(--grey);}

.boldText {
    font-weight: bold;
}
.cursive {
    font-style: italic;
}

@media screen and (max-width: 812px) {
    html {
        background-image: none;
    }

    body {
        margin: 0;
        padding: 0;
    }

    nav ul {
        display: none;
    }

    header nav a img {
        width: 13vw;
        padding: 0 1vw;
    }


}

/* HEADER NAVIGATION */

header {
    padding: 5px;
    background-color: var(--green);
}

header nav a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

header nav a img {
	width: 3.5vw;
    padding: 0 1vw;
} 

header nav a h1 {
    font-size: 20px;
    display: inline-block;
    justify-content: center;
    color: var(--white);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
	list-style-type: none;
	display: flex;
    font-size: 20px;
}

nav ul li {
    padding: 0 2vw;
}

nav ul li a {
	text-decoration: none;
    color: var(--white);
    display: inline-block;
    /*border-bottom: solid 2px var(--green); */
}

nav ul li a:after {
    display: block;
    content: '';
    border-bottom: solid 2px #f2f2f2; 
    transform: scaleX(0);  
    transition: transform 300ms ease-in-out;
}

nav ul li a:hover:after { transform: scaleX(1); }

/*nav li a:hover {border-bottom: solid 2px var(--white);} */

@media screen and (max-width: 812px) {
    nav ul {
        display: none;
    }

    header nav a img {
        width: 13vw;
        padding: 0 1vw;
    }
}

/* STYLE FOR ALLE SIDER */
main {
    margin: 0 15%;
    padding: 0;
}

main h1 {
    color: var(--darkgreen);
    text-align: center;
    font-size: 50px;
    padding: 25px;
    margin: 0;
}

main h2 {
    color: var(--blue);
}

section {
    margin-bottom: 50px;
}

@media screen and (max-width: 812px) {
    main {
        margin: 0 20px;
        padding: 0;
    }

    main h1 {
        font-size: 40px;
        margin: 0;
    }
}

@media screen and (min-width: 813px) and (max-width: 1200px) {
    html {
        background-size: contain;
        background-attachment: fixed;
    }
} 

/* FRONTPAGE */
.frontpageGrid {
    margin-bottom: 50px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 15vw);
    grid-template-rows: repeat(2, 15vw);
    grid-gap: 1vw;
}

main section a {
    text-decoration: none;
}

main section a h2 {
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
    padding-top: 30%;
    margin: 0;
}

main section a h3 {
    text-align: center;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

main section a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 812px) {
    .frontpageGrid {
        margin-bottom: 20px;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 22.5vh);
        grid-gap: 1vw;
    }
}

@media screen and (min-width: 813px) and (max-width: 1200px) {
    .frontpageGrid {
        margin-bottom: 20px;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(4, 17vw);
        grid-template-rows: repeat(2, 17vw);
        grid-gap: 1vw;
    }
}

/* SAMARBEJDE OG SPONSORER */

.samarbejdsgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.samarbejdsgrid img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.samarbejdsgrid a {
    width: auto;
    height: auto;
    background-color: transparent;
}

@media screen and (max-width: 812px) {
    .samarbejdsgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

/* ADOPTER */

.katteOverblikGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px;
    grid-gap: 20px;
}

.katteOverblikGrid a {
    background-color: transparent;
    text-align: center;
    color: var(--white);
}
  
.katteOverblikGrid section {
    display: block;
    margin: -55px 0 0 0;
    padding: 5px 0;
    background-color: var(--blue);
    float: left;
    width: 100%;
}

.katteOverblikGrid p {
    padding: 0;
    margin: 0;
}
  
.katteOverblikGrid img {
    float: left;
}

.adoptionAfKatte {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

article {
    padding: 10px 25px;
}

article p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

article ol {
    padding: 0 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

article ol li {
    padding-bottom: 20px;
}

article img {
    width: 49%;
    height: 49%;
    object-fit: cover;
    display: inline;
}

.kravDel2 {
    padding-top: 70px;
}

@media screen and (max-width: 812px) {
    .katteOverblikGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .adoptionAfKatte {
        margin: 0px;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .adoptionAfKatte article {
        margin: 0;
        padding: 0;
    }

    .venteliste h2, .venteliste h3, .venteliste p {
        margin: 0;
        padding: 15px;
    }

    .adoptionAfKatte img {
        display: none;
    }
}

@media screen and (min-width: 813px) and (max-width: 1200px) {
    .katteOverblikGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .adoptionAfKatte {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .katteOverblikGrid {
        grid-gap: 50px 10px;
    }

    .adoptionAfKatte img {
        display: none;
    }
    
    .kravDel2 {
        padding-top: 0;
    }
} 

/* STØT OS */

.stoet-osOverskrift{
    padding-bottom: 0;
    margin-bottom: 0;
}

.stoet-osUnderoverskrift {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    color: var(--darkgreen);
    font-size: 25px;
}

.stoet-osGrid {
    display: unset;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr;
    background-color: var(--white);
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.stoet-osGrid ol {
    padding-top: 0;
    margin-top: 0;
}

.stoet-osGrid h4, .stoet-osGrid h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.stoet-osGrid li {
    padding: 0;
}

.stoet-osGrid img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    padding: 20px;
}

.extrawhite {
    background-color: white;
    margin-bottom: 50px;
}

.mailText {
    width: 95%;
    margin-top: 10px;
}

form {
    padding-top: 20px;
}
  
input[type=text], input[type=number], textarea {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--white);
}
  
button {
    background-color: var(--green);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0;
    border: none;
    cursor: pointer;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.137);
}

@media screen and (max-width: 812px) {
    .stoet-osGrid {
        display: unset;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr;
        background-color: var(--white);
        border-radius: 5px;
        padding: 0;
        margin: 20px 0;
    }

    .extrawhite {
        background-color: white;
    }

    .extrawhite article {
        padding: 0;
    }
}

@media screen and (min-width: 813px) and (max-width: 1200px) {
    
} 

/* SIDE FOR SPECIFIK KAT */ 

.katGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.katInfo {
    background-color: var(--white);
    border-radius: 5px;
}

.katInfo h2 {
    color: var(--green);
    padding: 0px;
    margin-top: 20px;
}

.katInfo ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.katBeskrivelse h3 {
    color: var(--blue);
}

.katPlejefamilie h4 {
    color: var(--blue);
}

.mySlides { /* Kilde: https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_slideshow_self */
    display: none;
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.firstPic {
    display: block;
}

.slideshowGrid { 
    display: grid;
    grid-template-columns: 1vw 1fr 1vw;
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

.ikon {
    color: var(--grey);
    margin: auto;
    font-size: 30px;
}

.flereKatte {
    background-color: var(--white);
    padding: 10px 30px;
    border-radius: 5px;
}

.flereKatte h2 {
    margin: 10px;
}

@media screen and (max-width: 1200px) {
    .katGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .slideshowGrid { 
        display: grid;
        grid-template-columns: 1vw 1fr 1vw;
        grid-template-rows: auto;
        grid-gap: 20px;
    }

    .katGrid section {
        margin-bottom: 10px;
    }

    .mySlides {
        display: none;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .firstPic {
        display: block;
    }
}
/* 
@media screen and (min-width: 813px) and (max-width: 1200px) {
    .katGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
    }
}  */

/* FORENINGEN */
.foreningenGrid {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.foreningenGrid article {
    padding: 20px 20px 0 20px;
}

.foreningenGrid h2 {
    margin: 0;
}

.foreningenGrid h3 {
    margin: 0;
}

.foreningenGrid ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.foreningenGrid li {
    padding: 0px;
}

.foreningenGrid img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dropdown {
    color: white;
    padding: 5px 10px;
    margin: 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.dropdownContentForeningen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

.toShowOrNot2Show {
    display: none;
}

/* FOOTER */
footer {
    background-color: var(--darkgreen);
    color: var(--white);
    font-size: 16px;
    text-align: center;
    padding: 20px;
}